# dependencies
node_modules/

# build
dist/

# Vite
.vite/

# system files
.DS_Store

# logs
*.log

# others
.env
*.map

# package-lock.json
package-lock.json

# node_modules
node_modules/

# yarn.lock
yarn.lock
